.bg {
  padding: 25px;
  border-radius: 27px;
  width: 100%;
  height: auto;
  background-image: url(../../assets/img/bgPicture.svg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.bgBannerSmallOne {
  text-align: center;
  padding: 25px;
  border-radius: 27px;
  width: 100%;
  margin-top: 10px;
  height: auto;
  background-image: url(../../assets/img/bgSmBannerOne.svg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;

}

.bgBannerSmallTwo {
  text-align: center;
  padding: 25px;
  border-radius: 27px;
  width: 100%;
  margin-top: 10px;
  height: auto;
  background-image: url(../../assets/img/bgSmBannerTwo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}


.align {
  margin-top: 20px;
  justify-content: center;
}

.align-right {
  text-align: right !important;
}

.align-center {
  text-align: center;
}

.block {
  height: 70px;
  position: relative;
}

.block:after {
  content: '';
  position: absolute;
  border-left: 1px solid rgba(112, 112, 112, 0.5);
  right: -10px;
  height: 50%;
  margin-top: -60px;
}

.infoLightBg {
  text-align: center;
  padding: 25px;
  border-radius: 27px;
  width: 100%;
  height: auto;
  background-color: white;
}

.infoImgBg {
  text-align: center;
  padding: 25px;
  border-radius: 27px;
  width: 100%;
  height: auto;
  background-image: url(../../assets/img/bgInfo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}


.infobgBn {

  text-align: center;
  padding: 25px;
  border-radius: 27px;
  width: 100%;
  height: auto;
  background-image: url(../../assets/img/bgBannerThree.svg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;

}

.spacing {
  margin-top: 7%;
  margin-bottom: 7%;
}

.space {
  margin-right: 10px ;
  margin-bottom: 5px;
}

.imgSpace {
  margin-bottom: 50px;
}

.bannerText {
  text-align: right;
}
.timer {
  justify-content: center;
  text-align: center;
}
.secciones{
    margin-left: 2%;
    margin-right: 2%;
}
 
@media only screen and (max-width: 990px) {
  .hide {
    display: none !important;
  }

  .align {
    text-align: center;
  }
  .space {
    margin-right: 10px;
  }


}

@media  only screen and (max-width: 480px) {
  #timer div:last-child {
    margin-left: 100px !important;
    margin-right: 100px !important;
    padding: 3em,3em !important;
  }
  .space {
    margin-right: 0px;
  }
}


@media only screen and (max-width: 760px){


.bannerText{
  text-align: justify;
}

  
}