.bg {
  padding: 25px;
  border-radius: 27px;
  width: 100%;
  height: auto;
  background-image: url(../../assets/img/bgPicture.svg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.align {
  margin-top: 20px;
  justify-content: center;
}

.align-right {
  text-align: right !important;
}

.block {
  height: 70px;
  position: relative;
}

.block:after {
  content: '';
  position: absolute;
  border-left: 1px solid rgba(112, 112, 112, 0.5);
  right: -10px;
  height: 50%;
  margin-top: -60px;
}

.infoLightBg {
  text-align: center;
  padding: 25px;
  border-radius: 27px;
  width: 100%;
  height: auto;
  background-color: white;
}

.infoImgBg {
  text-align: center;
  padding: 25px;
  border-radius: 27px;
  width: 100%;
  height: auto;
  background-image: url(../../assets/img/bgInfo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.spacing {
  margin-top: 5%;
  margin-bottom: 5%;
}

.space {
  margin-bottom: 80px;
}

.bannerText {
  text-align: right;
}

@media only screen and (max-width: 990px) {
  .hide {
    display: none !important;
  }

  .align {
    text-align: center;
  }

}

@media only screen and (max-width: 760px) {
  .bannerText {
    text-align: justify !important;
  }
}