.align-right {
    text-align: right !important;
}

.spc {
    margin-left: 10px;
    margin-right: 10px;
}

.logoText {

    display: flex;
    align-items: center;

}

@media screen and (max-width: 764px){

    .align-right {
        text-align: center !important;
    }

    .logoText{
        display: block;
        text-align: center !important;
    }

}